<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="./js/app-script.js"></script>
    </head>
    <body>
        <h2>{{ title }}</h2>
        <p>Created by: {{ name }}</p>
    </body>
</html>